.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

.navItem {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    text-decoration: none;
}
.textColorActive {
    color: #fff;
}

.logo {
    order: 3;
    flex-grow: 3;
}

.burgerConstructor {
    order: 1;
    flex-grow: 1;
}

.orderList {
    order: 2;
    flex-grow: 1;
}

.profile {
    order: 4;
    flex-grow: 1;
}
