.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

.nav_item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
}

.logo {
    order: 3;
    flex-grow: 3;
}

.constructor {
    order: 1;
    flex-grow: 1;
}

.order_list {
    order: 2;
    flex-grow: 1;
}

.profile {
    order: 4;
    flex-grow: 1;
}
